.navbar-brand {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: darkslateblue;

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  border-radius: 5px;
}

.container-fluid {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background: linear-gradient(-45deg, #d9d3d2, #8c8988, #545252, #30302f);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card-body {
  color: #e8e7e6;
}

.card-title {
  color: black;
}

.card-text {
  color: darkgray;
}

html {
  height: 100%;
}

body {
  background: #333;
  text-align: center;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  height: 100%;
}

.text-center {
  background: linear-gradient(
    -45deg,
    #2e1bfa,
    #6355a4,
    #6355a4,
    #cecce3,
    #c2493e,
    #8a1e15,
    #dbd51a,
    #e89a3e,
    #e89a3e,
    #ed8447
  );
  background-size: 300%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;

  letter-spacing: -5px;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 4s ease-in-out infinite;
  -moz-animation: animated_text 4s ease-in-out infinite;
  -webkit-animation: animated_text 4s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}
